doctype html
html
  head
    meta(charset='utf=8')
    title Random boxes
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Your seletion of randomly styled boxes!
    div
      a(href='/boxes') Let's try that again...
    - var b = 0
    while b < boxes
    div(style='width: {#widthArr[i]; height: {#heightArr[i]}')= b++
