doctype html
html
  head
    meta(charset='utf=8')
    title Random boxes
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Your seletion of randomly styled boxes!
    span: a(href='/boxes') Let's try that again...

    each box in boxes
      div(style='height: #{box.height}px; width:#{box.width}px; background-color:#{box.color};')

